<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Accountant</title>
</head>
<body>
    <section class="container">
        <div class="container-text">
            <h1 class="title">-Accountant-</h1>
            <div class="wrapper">
                <p class="paragraph" id="result">0</p>
            </div>
        </div>
        <div class="buttons">
            <button class="button cta-increase" id="increase">Increase</button>
            <button class="button cta-delete" id="delete">Delete</button>
            <button class="button cta-restart" id="restart">Restart</button>
        </div>
    </section>
    <script src="../js/script.js"></script>
</body>
</html>